<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <tr>
        <td>id</td>
        <td>姓名</td>
        <td>密码</td>
        <td>电话</td>
        <td>住址</td>
        <td>类型</td>
        <td>管理员id</td>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.phone}"></td>
        <td th:text="${user.address}"></td>
        <td th:text="${user.type}"></td>
        <td th:text="${user.admin_id}"></td>

        <td>
            <a th:href="@{/delete(id=${user.id})}">删除</a>
        </td>
        <td>
            <a th:href="@{/update(id=${user.id})}">更新</a>
        </td>
        <!-- <td><a th:href="@{/del(user_id=${student.id})}"> delete </a></td>-->
    </tr>
</table>
</body>
</html>